@font-face{font-family: Cream; 
    src: url(../fonts/cream-DEMO.otf);
    src: url(../fonts/cream-DEMO.ttf);
}

@font-face{font-family:LocalBrewerySans;
    src: url(../fonts/LocalBrewerySans.otf);
    src: url(../fonts/LocalBrewerySans.ttf);
}

@font-face{font-family:Cabriole;
    src: url(../fonts/CabrioleDemoBold.ttf);
    src: url(../fonts/CabrioleDemoBoldItalic.ttf);
    src: url(../fonts/CabrioleDemoCondensed.ttf);
    src: url(../fonts/CabrioleDemoItalic.ttf);
    src: url(../fonts/CabrioleDemoLight.ttf);
    src: url(../fonts/CabrioleDemoLightItalic.ttf);
    src: url(../fonts/CabrioleDemoRegular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../media/alt-bg.png");
    overflow-x: hidden;
    font-family: Cream; 
    font-size: 1.2vw;
}

div#thanks{
    text-align: center;
}

div#thanks img{
    width: 38vw;
}

div#thankyou{
    text-align: center;
    background-color: rgba(251, 254, 254, 0.75);
    border-radius: 25px;
    width: 65vw;
    height:auto;
    margin-left: 17vw;
}

div#returnthis{
    text-align: center;
}

div#returnthis img{
    margin-top: -17vh;
    width: 35vw;
}

div#returnthis img:hover{
    width: 37vw;
}