@font-face{font-family: Cream; 
    src: url(../fonts/cream-DEMO.otf);
    src: url(../fonts/cream-DEMO.ttf);
}

@font-face{font-family:LocalBrewerySans;
    src: url(../fonts/LocalBrewerySans.otf);
    src: url(../fonts/LocalBrewerySans.ttf);
}

@font-face{font-family:Cabriole;
    src: url(../fonts/CabrioleDemoBold.ttf);
    src: url(../fonts/CabrioleDemoBoldItalic.ttf);
    src: url(../fonts/CabrioleDemoCondensed.ttf);
    src: url(../fonts/CabrioleDemoItalic.ttf);
    src: url(../fonts/CabrioleDemoLight.ttf);
    src: url(../fonts/CabrioleDemoLightItalic.ttf);
    src: url(../fonts/CabrioleDemoRegular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../media/berry-bg.png");
    overflow-x: hidden;  
}

div#navibar {
    background-image: url("../media/navibar-design.png");
    background-size:cover;
    display: flex;
    gap:4vw;
    justify-content:center;
    width: 100vw;
    min-width: 100vw;
    height: 7.8vw;
    min-height:9.7;
    position: sticky;
    top:0;
    padding-bottom: -1vw;
    z-index:3;
    border-bottom: 10px white solid;
    font-family:Cabriole;
    font-weight: bold;
}

div#navibar img{
    width: 6vw;
}

div#navibar a{
    Color: white;
    text-decoration: none;
    font-size:1.3vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    text-align: center;
}

a#icon{
    display: flex;
    flex-direction: column;
}

div#logo img{
    width:11.7vw;
}

div#logo {
    float:center;
    z-index:4;
}

img#newlogo:hover{
    width:12.3vw;
}

div#leftside{
    float: left;
    display: flex;
}

div#leftside img:hover{
    width:7vw;
}

div#leftside p{
    margin-top: -0.15vw;
    background-color:#D85454;
    border-radius: 25px;
}


div#rightside{
    float:right;
    display: flex;
}

div#rightside p{
    margin-top: -0.15vw;
    background-color:#D85454;
    border-radius: 25px;
}

div#rightside img:hover{
    width:7vw;
}

div#firstthing{
    background-image:url("../media/bantype1.png");
    background-size: cover;
    min-height: 35vh;
    text-align: center;
    padding-top: 8vh;
    border-bottom: 8px solid #F7B6BE;
}

div#firstthing img{
    width: 38vw;
    margin-bottom: -3vh;
}

div#firstthing p{
    font-family: Cream;
    font-size: 1.4vw;
}

div#berry-contain {
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin: 2vw;
    font-family: 'Cabriole';
}

div#berry-contain a:link{
    font-size: 1.8vw;
    text-decoration: none;
    color: mediumvioletred;
}

div#berry-contain a:hover{
    font-weight: bold;
    color: red;
}

div#berry-contain p{
    font-size: 1.2vw;
    text-align: justify;
}

div#berri-leftie{
    background-color: rgba(255, 255, 255,0.5);
    padding: 2vw;
}

div#berri-leftie a:link{
    padding-left: 15vw;
}

div#berri-rightie{
    background-color: rgba(255, 255, 255,0.5);
    padding: 2vw;
}

div#berri-rightie a:link{
    padding-left: 8.5vw;
}

div#berri-rightie span{
    font-family:'Cream';
}

div#footer{
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-width: 100vw;
    background-color: white;
    height: 12vw;
    justify-content: space-around;
    font-family: Cream;
}

div#logoround{
    background-color:#B32f2f;
    background-size: cover;
    min-width: 15vw;
    text-align: center;
}

div#logoround img{
    margin-top: 1vw;
    width: 10vw;
}

div#quicklinks{
    background-color:#E89292;
    background-size: cover;
    min-width: 35vw;
    padding-left: 1vw;
    Color: white;
}

div#quicklinks a{
    font-family: Cabriole;
    text-decoration: none;
    color: white;
    font-size: 1.3vw;
}

div#quicklinks a:hover{
    font-size: 1.4vw;
    font-weight: bold;
}

div#quicklinks h4{
    margin-bottom: 0.50vw;
    margin-top: 1vw;
    text-decoration: underline;
    font-size: 1.7vw;
}

div#links{
    display: flex;
    gap: 5vw;
    padding-left: 4vw;
}

div#form{
    background-color:#F7c4c4;
    background-size: cover;
    min-width: 25vw;
    padding-left: 1vw;
    Color: #Be1111;
}

div#form h4{
    margin-bottom: 0.50vw;
    margin-top: 1vw;
    text-decoration: underline;
    font-size: 1.7vw;
}

div#form p{
    font-family: Cabriole;
    text-decoration: none;
    color: #Be1111;
    font-size: 1.3vw;
    margin-bottom: -1vw;
}

div#form span{
    font-family: Cream;
}


div#form a{
    font-family: Cabriole;
    text-decoration: none;
    color: #Be1111;
    font-size: 1.3vw;
}

div#form a:hover{
    font-size: 1.4vw;
    font-weight: bold;
    Color: white;
    background-color: #Be1111;
    min-width: 3vw;
}

div#form h4{
    margin-bottom: 0.50vw;
    margin-top: 1vw;
    text-decoration: underline;
    font-size: 1.4vw;
}

div#contact{
    background-color: #Fde1e1;
    background-size: cover;
    min-width: 25vw;
    padding-left: 1vw;
    Color: #Be1111;
}

div#contact span{
    font-family: Cream;
    font-weight: none;
}

div#contact h4{
    margin-bottom: 0.50vw;
    margin-top: 1vw;
    text-decoration: underline;
    font-size: 1.4vw;
}

div#contact p{
    font-family: Cabriole;
    text-decoration: none;
    color: #Be1111;
    font-size: 1.3vw;
    margin-bottom: -1vw;
}

p#webprog{
    margin-top: -0.50vw;
}