@font-face{font-family: Cream; 
    src: url(../fonts/cream-DEMO.otf);
    src: url(../fonts/cream-DEMO.ttf);
}

@font-face{font-family:LocalBrewerySans;
    src: url(../fonts/LocalBrewerySans.otf);
    src: url(../fonts/LocalBrewerySans.ttf);
}

@font-face{font-family:Cabriole;
    src: url(../fonts/CabrioleDemoBold.ttf);
    src: url(../fonts/CabrioleDemoBoldItalic.ttf);
    src: url(../fonts/CabrioleDemoCondensed.ttf);
    src: url(../fonts/CabrioleDemoItalic.ttf);
    src: url(../fonts/CabrioleDemoLight.ttf);
    src: url(../fonts/CabrioleDemoLightItalic.ttf);
    src: url(../fonts/CabrioleDemoRegular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../media/berry-bg.png");
    overflow-x: hidden; 
}

div#navibar {
    background-image: url("../media/navibar-design.png");
    background-size:cover;
    display: flex;
    gap:4vw;
    justify-content:center;
    width: 100vw;
    min-width: 100vw;
    height: 7.8vw;
    min-height:9.7;
    position: sticky;
    top:0;
    padding-bottom: -1vw;
    z-index:3;
    border-bottom: 10px white solid;
    font-family:Cabriole;
    font-weight: bold;
}

div#navibar img{
    width: 6vw;
}

div#navibar a{
    Color: white;
    text-decoration: none;
    font-size:1.3vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    text-align: center;
}

a#icon{
    display: flex;
    flex-direction: column;
}

div#logo img{
    width:11.7vw;
}

div#logo {
    float:center;
    z-index:4;
}

img#newlogo:hover{
    width:12.3vw;
}

div#leftside{
    float: left;
    display: flex;
}

div#leftside img:hover{
    width:7vw;
}

div#leftside p{
    margin-top: -0.15vw;
    background-color:#D85454;
    border-radius: 25px;
}


div#rightside{
    float:right;
    display: flex;
}

div#rightside p{
    margin-top: -0.15vw;
    background-color:#D85454;
    border-radius: 25px;
}

div#rightside img:hover{
    width:7vw;
}

div#header{
    border-bottom: 2vw solid white;
}

video#sakurablossom{
    width: 99vw;
}

div#content2 {
    display: flex;
    justify-content: center;
    gap: 2.3vw;
    padding-top: 6vw;
    padding-left: 3vw;
    padding-right: 3vw;
    font-family:'Cream';
}

div#content2 p, ul{
    font-size:1.26vw;
}

div#slideshow-container {
    position: relative;
}

div#slideshow-container img#berry-slideframe{
    width:60vw;
}

div#slideshow-sidebar {
    position:relative;
    z-index: 2;
    background-color:beige;
    max-width: 40vw;
    width: 40vw;
}

div#straw-desc {
    font-family:'LocalBrewerySans';
    text-align:justify;
    margin: 1vw;
    background-image:url("../media/berry-gridbrow.png");
    border-radius: 20%;
    color:white;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 6vw;
    padding-bottom: 2vw;
}

div#straw-desc span#a{
    font-family:'Arial';
}

div#straw-desc span#b{
    color:lightpink;
}

img#straw-title{
    position:absolute;
    z-index: 2;
    top: -6vw;
    left: -2vw;
    width: 30vw;
}

.berry-slide{
    z-index:1;
    position: absolute;
    top: 2vw;
    left: 6vw;
    border-radius: 5%;
    border: 5px black solid;
    object-fit: cover;
    width:47vw;
    height: 25vw;
    opacity:0;
    transition: opacity 1s ease-out;
}

div#berry-contacts{
    font-family:'LocalBrewerySans';
    font-size: 18px;
    margin:20px;
    background-color:rgba(241, 182, 183, 0.5);
}

div#berry-contacts span{
    font-family:'Arial';
}

div#content3{
    display: flex;
    margin-top: 3vw;
    margin-left:7.5vw;
    margin-right:7.5vw;
    justify-content: space-around;
}

div#content3 a{
    font-family: 'Cream';
    text-decoration: none;
    color: black;
}

div#content3 a:hover{
    font-family: 'Cabriole';
    text-decoration: none;
    color:white;
}

div#content3 img {
    margin-bottom: -25px;
    width:24vw;
}

div#content3 h2 {
    font-size:2vw;
}

div#content3 p {
    margin-top: -15px;
    margin-left: 12px;
    font-size:1.2vw;
}

div#berry-box1{
    border:5px white solid;
    background-color: #6ed6ca;
    border-radius: 10%;
    font-family: 'LocalBrewerySans';
    padding-right:10px;
}

div#berry-box2{
    border:5px white solid;
    background-color: #Ec2a7a;
    border-radius: 10%;
    font-family: 'LocalBrewerySans';
    padding-right:10px;
}

div#berry-box3{
    border:5px white solid;
    background-color: #Ffb3a6;
    border-radius: 10%;
    font-family: 'LocalBrewerySans';
    padding-right:10px;
}

div#footer-message {
    font-family:'Garamond';
    background-color: rgba(255, 255, 255,0.5);
    text-align: center;
    margin: 7vw;
}

div#footer-message h4{
    font-size: 1.7vw;
}

div#footer-message p{
    font-size: 1.3vw;
}

div#footer{
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-width: 100vw;
    background-color: white;
    height: 12vw;
    justify-content: space-around;
    font-family: Cream;
}

div#logoround{
    background-color:#B32f2f;
    background-size: cover;
    min-width: 15vw;
    text-align: center;
}

div#logoround img{
    margin-top: 1vw;
    width: 10vw;
}

div#quicklinks{
    background-color:#E89292;
    background-size: cover;
    min-width: 35vw;
    padding-left: 1vw;
    Color: white;
}

div#quicklinks a{
    font-family: Cabriole;
    text-decoration: none;
    color: white;
    font-size: 1.3vw;
}

div#quicklinks a:hover{
    font-size: 1.4vw;
    font-weight: bold;
}

div#quicklinks h4{
    margin-bottom: 0.50vw;
    margin-top: 1vw;
    text-decoration: underline;
    font-size: 1.7vw;
}

div#links{
    display: flex;
    gap: 5vw;
    padding-left: 4vw;
}

div#form{
    background-color:#F7c4c4;
    background-size: cover;
    min-width: 25vw;
    padding-left: 1vw;
    Color: #Be1111;
}

div#form h4{
    margin-bottom: 0.50vw;
    margin-top: 1vw;
    text-decoration: underline;
    font-size: 1.7vw;
}

div#form p{
    font-family: Cabriole;
    text-decoration: none;
    color: #Be1111;
    font-size: 1.3vw;
    margin-bottom: -1vw;
}

div#form span{
    font-family: Cream;
}


div#form a{
    font-family: Cabriole;
    text-decoration: none;
    color: #Be1111;
    font-size: 1.3vw;
}

div#form a:hover{
    font-size: 1.4vw;
    font-weight: bold;
    Color: white;
    background-color: #Be1111;
    min-width: 3vw;
}

div#form h4{
    margin-bottom: 0.50vw;
    margin-top: 1vw;
    text-decoration: underline;
    font-size: 1.4vw;
}

div#contact{
    background-color: #Fde1e1;
    background-size: cover;
    min-width: 25vw;
    padding-left: 1vw;
    Color: #Be1111;
}

div#contact span{
    font-family: Cream;
    font-weight: none;
}

div#contact h4{
    margin-bottom: 0.50vw;
    margin-top: 1vw;
    text-decoration: underline;
    font-size: 1.4vw;
}

div#contact p{
    font-family: Cabriole;
    text-decoration: none;
    color: #Be1111;
    font-size: 1.3vw;
    margin-bottom: -1vw;
}

p#webprog{
    margin-top: -0.50vw;
}